.pagination {
  display: flex;
}

.pageItem {
  width: auto;
  min-width: 32px;
  padding: 2px;
  height: 32px;
  background: #dcb8cb;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 8px;
  margin-right: 8px;
  font-size: 12px;
  cursor: pointer;
}

.pageItem:hover {
  background: white;
  color: #dcb8cb;
  border: 1px solid #dcb8cb;
}

.active {
  background: white;
  color: #dcb8cb;
  border: 1px solid #dcb8cb;
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 30%;
}
