.ProseMirror p.is-editor-empty:first-child::before {
  color: #a1a1aa;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

/*custom scroll css*/
.custom-scroll-bar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Handle */
.custom-scroll-bar::-webkit-scrollbar-thumb {
  background: rgb(202, 181, 226);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px #e1e1e3 inset;
  -webkit-text-fill-color: #523237;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px #e1e1e3 inset;
  -webkit-text-fill-color: #523237;
}

@layer base {
  h1 {
    @apply font-heading;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
